/***** Página de Estilos ******/
html, body { height: 100%; font-size: 100%; overflow: auto; }

::-webkit-scrollbar { height:0px; width:0px; background: none; }

.row .col.s3 { padding: 1%; border-radius: 0 8px 8px 0; }

.footer { position: absolute; bottom: -5%; }
.grey.darken-4 { padding-top: 1em; padding-bottom: 0.08em; text-align: center; }
.paginacao { -webkit-box-shadow: -2px -3px 8px #666; -moz-box-shadow: -2px -3px 8px #666; }

.conteudo_disc { padding: 3% 4%}
h5 { font-weight: bold; margin-bottom: 2%; margin-top: 2%; width: 100%; padding: 2%; border-radius: 0 10px 10px 0; }
ul li { font-size: 1.6em; padding: 0 3% 2% 15%; }
ul { margin-bottom: 5%; }
.sub-topico { background-color: rgba(33, 150, 243, 0.9); color: #FFF; font-weight: bold; padding: 3% 0 3% 10%; position: relative; left: -5%; }

/***** CONTEÚDO ******/
.topico { background: rgba(0, 0, 0, 0.85); color: #FFF; padding: 2%; margin-top: 3%; border-radius: 0 8px 8px 0; }

@media screen and (min-width: 320px){
  p { font-size: 2.1em; padding: 1.5% 3%; }
  ul li { font-size: 1.6em; padding: 0 3% 0 5%; }
}

@media screen and (min-width: 720px){
  h3 { margin-top: 4rem; margin-bottom: 1%; }
  .row .col.m5 { margin-top: 1.5em; }
  p { font-size: 1.5em; }
}

@media screen and (min-width: 960px) {
  /*::-webkit-scrollbar { height:10px; width:10px; background: #ccc; position: relative; z-index: 8000; }*/
  h3 { margin-top: 3rem; margin-bottom: 1%; }
  p { font-size: 1.5em; margin-top: 1%; }
}
