/***** BACKGROUND *****/
.fundo-index { position: fixed; width: 100%; height: 100%; background: url(../img/background.jpeg) center center/220% no-repeat; }

/***** BOX TÍTULO *******/
.box-titulo { background: rgba(0, 0, 0, 0.8); border-radius: 7px; margin-left: -3%; padding-left: 10%; margin-top: 15%;  }
.box-titulo h2 { margin-bottom: 10%; }
.box-titulo h5 { line-height: 30px; }

.container { text-align: center;  }
.container a { font-size: 2.5em; font-weight: 600;  width: 60%; padding: 3% 5% 10% 5%; }

@media screen and (min-width: 320px){
  .fundo-index { position: fixed; width: 100%; height: 100%; background: url(../img/background.jpeg) center center/350% no-repeat; }
  .container { text-align: center; position: relative; top: 110%; }
}

@media screen and (min-width: 720px){
  .fundo-index { position: fixed; width: 100%; height: 100%; background: url(../img/background.jpeg) center center/450% no-repeat; }
  .box-titulo { background: rgba(0, 0, 0, 0.8); border-radius: 0 7px 7px 0; margin-left: -20%; padding-left: 10%; position: relative; top: 10%; }
  .container { text-align: center; padding-top: 150%; }
}

@media screen and (min-width: 768px){
  .fundo-index { position: fixed; width: 100%; height: 100%; background: url(../img/background.jpeg) center center/250% no-repeat; }
  .box-titulo { background: rgba(0, 0, 0, 0.8); border-radius: 0 7px 7px 0; margin-left: -20%; padding-left: 10%; position: relative; top: 10%; }
  .container { text-align: center; padding-top: 95%; }
}

@media screen and (min-width: 960px){
  .fundo-index { position: fixed; width: 100%; height: 100%; background: url(../img/background.jpeg) center center/170% no-repeat; }
  .box-titulo { background: rgba(0, 0, 0, 0.8); border-radius: 0 7px 7px 0; margin-left: -20%; padding-left: 10%; margin-top: 5%;  }
  .container { text-align: center; padding-top: 63%; }
}

@media screen and (min-width: 1280px){
  .fundo-index { position: fixed; width: 100%; height: 100%; background: url(../img/background.jpeg) center center/120% no-repeat; }
  .box-titulo { background: rgba(0, 0, 0, 0.8); border-radius: 0 10px 10px 0; margin-left: -3%; padding-left: 10%; margin-top: 5%; }
  .container { text-align: center; padding-top: 52%; }
  .container a { border-radius: 10px; padding: 2% 5% 8% 5%; }
}

@media screen and (min-width: 1600px){
  .fundo-index { position: fixed; width: 100%; height: 100%; background: url(../img/background.jpeg) center center/120% no-repeat; }
  .box-titulo { background: rgba(0, 0, 0, 0.8); border-radius: 0 15px 15px 0; margin-left: -3%; padding-left: 10%; margin-top: 5%; }
  .container { text-align: center; padding-top: 42%; }
  .container a { border-radius: 10px; padding: 2% 5% 8% 5%; }
}
