/********* Navbar ********/
.brand-logo { margin-left: 0.3em; }
#nav-mobile li { background-color: rgba(77, 182, 172, 0.6); margin-left: 0.3em; }
#dropdown1 { overflow: hidden; margin-top: 4.5em; padding: -10px; }
#dropdown1 li { background-color: rgba(245, 245, 245, 0.5); }

/********** Iframe *********/
#dropdown2 { margin-top: 3.45em; }
html, body { height: 100%; overflow: auto; }
.navbar-fixed { height: 5%; }
.conteudo { height: 94.49%; overflow: hidden; }
iframe { width: 100%; height: 95%; overflow: hidden; }

.paginacao { margin-top: -9.9%; position: relative; z-index: 1000;  }
.container { text-align: center; width: 100%; padding: 1em 0 1em 0; }
.bt-ant { margin-right: 2%; }

nav .nav-wrapper { position: relative; z-index: 2000; }

@media screen and (min-width: 900px){
  .paginacao { margin-top: -5.45em; }
}
